td/.ipynb_checkpoints
/td/.ipynb_checkpoints/
/td/TD1_analyse_univarie_partie2_corr.ipynb
/td/TD2_corr.jpg
/td/TD2_corr.qgz
/cours/.ipynb_checkpoints/
/cours/old/
/cours/src/.ipynb_checkpoints/
/.ipynb_checkpoints/
